<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ework.eduplex">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <!-- USES PERMISSION -->
    <!-- <uses-permission android:name="com.ework.eduplex.permission.MAPS_RECEIVE" /> -->

    <permission
        android:name="com.ework.eduplex.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- USES FEATURE -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- APPLICATION -->
    <!-- android:name=".MyApplication" -->
    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <!-- <meta-data -->
        <!-- android:name="com.google.android.maps.v2.API_KEY" -->
        <!-- android:value="AIzaSyDz5t-GSvhT73Yo89xZ8rqOAw4xggfZsw8" /> -->

        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CustomCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ComingSoonActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TebusKodeVoucherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TarikKPTunaiPinActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/tarik_kptunai_via_cabang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.loginandregister.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.katalog.KatalogItemDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_katalog_item_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BayarAngsuranActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_bayar_angsuran"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.setting.UbahPINActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_ubah_pin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.setting.PengaturanAplikasiActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_pengaturan_aplikasi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.loginandregister.SignUpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.supportandnotification.FAQActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_faq"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TebusKodeReferalActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_tebus_kode_voucher_referal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.supportandnotification.SuaraKonsumenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_suara_konsumen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TarikCabangActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_tarik_cabang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SimulasiKreditActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_simulasi_kredit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.katalog.KatalogBarangTabsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_katalog_barang"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.setting.UbahPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_ubah_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.setting.LupaPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_lupa_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.loginandregister.IntroductionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.setting.VerifyAccountActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CrashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.loginandregister.TermAndConditionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

        <!-- <meta-data -->
        <!-- android:name="io.fabric.ApiKey" -->
        <!-- android:value="23dce977d37ccaea837fc452d780c8d1e78db1dd" /> -->


        <!--
          Optionally, register AnalyticsReceiver and AnalyticsService to support background
          dispatching on non-Google Play devices
        -->
        <!-- <receiver -->
        <!-- android:name="com.google.android.gms.analytics.AnalyticsReceiver" -->
        <!-- android:enabled="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- <service -->
        <!-- android:name="com.google.android.gms.analytics.AnalyticsService" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="false" /> -->


        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <!-- <receiver -->
        <!-- android:name="com.google.android.gms.analytics.CampaignTrackingReceiver" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.android.vending.INSTALL_REFERRER" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- <service android:name="com.google.android.gms.analytics.CampaignTrackingService" /> -->


        <!-- RECEIVER SMS -->
        <receiver
            android:name=".activities.broadcastreceiver.SmsReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.eduplex.TableActivity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- <meta-data -->
        <!-- android:name="com.google.android.maps.v2.API_KEY" -->
        <!-- android:value="@string/google_maps_key" /> -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.eduplex.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".activities.TableCheckoutActivity"></activity>
    </application>

</manifest>